/* style.css */
:root {
  --main-color: #0066CC;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style-type: none;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: var(--text-color);
  font-size: 18px; 
  font-weight: 400;
}

.container {
  width: 1200px;
  margin: 0 auto;
  outline: 1px solid #999;
}

.top-menu {
  background: var(--main-color);
  text-align: right;
  padding: 10px 0;
  font-size: 14px;
  min-width: 1200px;
}

.top-menu ul li {
  display: inline-block;
  margin-left: 20px;
}

.top-menu ul li a {
  color: #fff;
}

#main-header {
  position: relative;
  border-bottom: 1px solid #ccc;
  z-index: 999;
}

#main-header .header-box {
  position: relative;
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  /* background: #ccc; */
  text-align: center;
}

#main-header .header-box h1 {
  position: absolute;
  left: 0;
  top: 17px;
}

#main-header .search {
  position: absolute;
  right: 0;
  top: 28px;
}

/* gnb */
#gnb {
  display: inline-block;
  margin-top: 30px;
}

#gnb > .depth1 {
  display: flex;
}

#gnb > .depth1 > li {
  width: 110px;
}

/* 1단계 hover */
#gnb > .depth1 > li:hover > a{
  color: var(--main-color);
}

#gnb > .depth1 > li:hover .depth2 {
  border-top: 4px solid var(--main-color);
}

#gnb .depth2 {
  /* outline: 1px solid red; */
  padding: 30px 0;
  /* margin-top: 25px; */
  background: #ddd;
  display: none;
  transform: translateY(24px);
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
}

#gnb .depth2 > li > a {
  display: block;
  padding: 6px 0;
}

/* 2단계 메뉴 hover */
#gnb .depth2 > li > a:hover {
  color: var(--main-color);
}

.search .fa{
  font-size: 24px;
}

/* 검색 팝업창 */
#search-popup {
  border: 1px solid #ccc;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #fff;
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

#search-popup .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #ccc; */
}

#search-popup input[type=search] {
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

#btn-search {
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  background: var(--main-color);
  color: #fff;
  cursor: pointer;
}

#btn-close {
  position: absolute;
  top: 0px;
  right: 20px;
  padding: 5px;
  font-size: 28px;
  border: none;
  background: transparent;
}

#main-visual {
  position: relative;
}

#main-visual .slider {
  position: absolute;
  width: 1920px;
  height: 600px;
  margin: 0 auto;
  /* 배너를 중앙에 고정 */
  left: 50%;
  transform: translateX(-50%);
}

#main-visual .slider img {
  position: absolute;
  left: 0;
  top: 0;
}

/* pager */
.pager {
  position: relative;
  width: 1200px;
  height: 600px;
  /* background: #ccc; */
  z-index: 10;
  margin: 0 auto;
}

.pager .leftBtn {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.pager .rightBtn {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}

/* 버튼 스타일 */
.btn {
  padding-left: 40px;
  padding-right: 40px;
  height: 50px;
  background: #000;
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
}

.btn-primary {
  background: var(--main-color);
  color: #fff;
}

.btn-outline {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

/* insde Roche(about) */
#about .container {
  display: flex;
  padding: 100px 0;
}

#about .title {
  padding-right: 60px;
  padding-top: 40px;
}

#about .title h2 {
  font-size: 56px;
}

#about .title h2 span {
  font-weight: 400;
}

#about .title p {
  font-size: 22px;
  margin-bottom: 60px;
}